.App {
  text-align: center;
  margin: 17px 16px 0 18px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0);
  font-family: Prompt;
}

.Path-4 {
  margin: 21px 0 0 0;
  border: solid 1px #d8d8d8;
}
